body {


}

/* ---------Run brand color

#f53269

---------------------------*/

/*----------------------------
Run brand text
font-family: 'Montserrat', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;

--------------------------*/

#logo_style {

  z-index: 14000000000 !important;
  left: 0px;
}


/* Smooth scroling CSS --------*/
a {

    transition: all 4.3s ease-out;
    transition-property: all;
    transition-duration: 6.8s;
    transition-timing-function: ease-out;
    transition-delay: initial;

}

/*--------------------------*/

.run_home_banner {

   background-image: url(../img/pink-glasses-banner.jpg);
   background-size: cover;
   height: 46rem;
   width: 100%;
   min-width: 100%;

}

.mini_ban_text {
  font-family: 'Montserrat', sans-serif;
    margin-top: -3rem;

}

.btn_pill_reg_button {

  border-radius: 2rem;

}

.banner_header_run {
   margin-top: 13rem;
   font-family: 'Archivo Narrow', sans-serif;
}

.banner_CTA {
   margin-top: 3rem;
}
.banner_header_run_color {

    background-color: rgba(245, 50, 105, 0.5);
    padding-left: 0.9rem;
    padding-top: 0.9rem;
    padding-right: 0.9rem;
    padding-bottom: 0.9rem;
    margin-bottom: 2.5rem;
}

.about_run {
 margin-top: 5rem;
 margin-bottom: 4rem;
}

.marathon_intro_section {

  margin-top: 9rem;
}

.marathon_img {
  background-image: url(../img/bw_marathon.jpg);
  background-size: cover;
  height: 20rem;
  width: 100%

}

.about_run_header {

  font-family: 'Raleway', sans-serif;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: #f53269;
}

.time_line_info {
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: #f53269;
  font-family: 'Raleway', sans-serif;

}

#milestone_small_header {
  color: #f53269;
}

.bg-timeline {
/*background-color: #ccc;*/
background-image: url(../img/Sports.png);
background-size: cover no repeat;
margin-top: 8rem;

}

.reg_header {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: 'Raleway', sans-serif;

}

.payment_mini_section {
   margin-top: 1rem;
   margin-bottom: 2rem;

}

.btn_pill_button {

   border-radius: 2rem;

}

.address_mini_section {

    margin-top: 6rem;
    margin-bottom: 6rem;

}

.address_padding_style {

    margin-bottom: 2.5rem;

}

.partner_header {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Raleway', sans-serif;

}

.address_mini_section {
    margin-top: 6rem;
    margin-bottom: 6rem;

}

.partner_mini_section {
    margin-top: 3rem;

}

.footer_mini_section {
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-family: 'Raleway', sans-serif;

}

.footer-bg {
  background-color: #f53269;
  height: inherit;
}

.hotel_recom_spacing {
   margin-bottom: 3rem;

}

.bottom_hotel_spacing {
  padding-bottom: 3rem;
}
